/node_modules/**/*
/dist/**
/docs-dist/**
/scripts/**/*
/build/**/*
/tests/**/*

.eslintrc.js
.stylelintrc.js
babel.config.js
versionrc.js
features.js
lint-staged.config.js
commitlint.config.js
changelog-option.js
jest.config.js
postcss.config.js
husky.config.js